
.wid-large .container {
  width: 1200px;
}

.song-total {
  display: flex;
  padding: 30px 0;
}

.song--left {
  width: 75%;
}

.song--right {
  flex: 1;
}

.block1 {
  display: flex;
}

.block1--left {
  width: 70%;
}

.block1--right {
  flex: 1;
}

.song--left--container {
  padding-right: 30px;
}

.menu--block1 {
  display: flex;
  font-size: 20px;
  padding: 5px 0;
}

.menu--block1 li {
  font-weight: normal;
  padding-right: 20px;
}

.block1--menu ul {
  font-weight: 600;
}


.block1--lights {
  padding-bottom: 20px;
  display: flex;
}

.block1--lights--img {
  width: 55%;
}

.block1--lights--text {
  padding-left: 20px;
  flex: 1;
}

.block1--lights--text h4 {
  font-size: 20px;
  margin: 0;
}

.block1--lights--text p {
  font-size: 14px;
}

.block1--related {
  display: flex;
  margin: 0 -20px;
}

.block1--related--item {
  padding: 0 20px;
}

.block1--related--item p {
  font-size: 14px;
}

.block1--related--item h5 {
  font-size: 16px;
  margin: 0;
}

.block1--total {
  display: flex;
}

.block1--right ul {
  font-weight: 600;
  padding: 0 30px;
}

.block1--right--topview li {
  font-weight: normal;
  font-size: 15px;
  list-style-type: circle;
  border-bottom: solid #eee;
  padding: 10px 0;
}

.border1 {
  border: solid #ddd;
}

.block2--info {
  display: flex;
}

.block2--img {
  width: 40%;
}

.block2--text {
  flex: 1;
  padding: 0 20px;
}

.block2--text p {
  margin-top: 0;
  font-size: 15px;
  opacity: 0.9;
}

.block2--new--item {
  border-bottom: #ddd solid;
  padding-bottom: 30px;
}

.block2--box {
  padding: 0 20px 10px 20px;
  border: solid red;
}

.block2--items:last-child {
  border-bottom: transparent;
}

.block2--items {
  display: flex;
  padding: 10px 0;
  border-bottom: solid red;
}

.block2--tems--img {
  width: 45%;
}

.block2--items--text {
  padding-left: 10px;
  font-size: 15px;
  flex: 1
}

.block2--calegogy h5 {
  margin-top: 05px;
  font-size: 16px;

}


